@import '../../styles/vars';

.sidebar{
    
    border: 20px;
    .bars{
        display:flex;
        font-size: 30px;
        
        padding:5px 5px;

    
    
    }
    .link{
        color:$black-1;
        display:flex;
        font-size: 25px;
        padding: 10px 15px;
        transition: all 0.5s;
        flex-direction: column;
        align-content: center;
    }
    .link_text{

        font-size: 0.4em;
       

    }
    .link:hover{
        background: $white-2;
        color:$deep-red;
        transition: all 0.5s;
    }
    .active{
        background-color: $white-2;
        color: $deep-red
        
    }
}
@media(min-width:768px){
        .sidebar{
            flex-direction: row;
            flex-wrap: nowrap;
            
        }
        .sidebar .link {
            padding-right: .5rem;
            padding-left: .5rem;

        }
        .sidebar .bars{
            flex-direction: row;
            flex-wrap: nowrap;
            display: none;
            float: right;
        }
}
div.links{
    .links-closed{
            display: none;
    
    }
}

div.links-open{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 470px;
    .link{
        font-size: 55px;
    }
}
