@import '../../styles/vars';

.wrapper{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-auto-rows: auto;
    gap: 10px;
    flex:3 1;
    

}


.box-wraper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
    grid-auto-rows: auto;
    gap: 10px;
    align-items: center;
    @media (max-width:600px){
        display: none;
    }
    
    
}

.buttons{
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    height: fit-content;
    gap: 14px;
    
    .featured-button{
        width: fit-content;
        height: 35px;
        font-family: 'Inter V';
        font-style: italic;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        border:none;
        padding: 5px 5px;
        letter-spacing: -0.0246154px;
        border-radius: 20%;
        color: $black-1;
        
    }
    .featured-button:hover,
    .latest-button:hover{
        color:$deep-red;
        background: rgba(187, 30, 30, 0.1);
    }
    .featured-button:active,
    .latest-button:active{
        color:$deep-red;
        background: rgba(187, 30, 30, 0.1);
    }
    .latest-button{
        width: fit-content;
        height: 35px;
        font-family: 'Inter V';
        font-style: italic;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        border-radius: 5%;
        padding: 5px 5px;
        border:none;
        letter-spacing: -0.0246154px;
        border-radius: 20%;
        color: $black-1;
        
    }
    
}
@media screen and (min-width:600px){
    .buttons{
        display:none;
        float: inline-start;
    }
}
.latestNews-wrap{
    width: fit-content;
    height: fit-content;
    @media (max-width:600px){
        display: none;
    }
    
}
.mobile-screen-latest{
    padding: 5px 5px;
}
.mobile-screen-featured{
    
    padding: 5px 5px;
}
.main-wrapper{
    display:flex;
}
.row{
    width: 100%;

    .col{
 
        display:flex;
        flex-wrap: wrap;
        width:100%
    }
}
